body {
    font-family: Arial, sans-serif;
    line-height: 3.6;
    margin: 0;
    padding: 0;
    color: #333;
  }

  img {
    max-width: 30%; /* Картинка будет адаптироваться под размеры блока */
    height: auto;    /* Сохраняется пропорция */
  }

  header {
    background: #279708;
    color: rgb(167, 1, 32);
    padding: 30px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: rgba(28, 113, 155, 0.17);
    text-decoration: none;
  }
  
  section {
    padding: 40px 20px;
  }
  
  section h2 {
    color: #007BFF;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  
  footer {
    background: #333;
    color: rgb(54, 117, 199);
    text-align: center;
    padding: 50px 0;
  }